body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}
header {
  padding:1rem;
  background: #FDF5E6;
  color: white;
}
footer {
  padding:1rem;
  background: #FDF5E6;
  color: black;
  text-align: center;
}
nav a {
  margin: 0 1rem;
  color: #333;
  text-decoration:none;
}
nav a:hover {
  color:white;
}
.branding {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: left;
  justify-content: start;
}

.title-area {
  display: flex;
  flex-direction: column;
}

.title-area h1 {
  margin: 0;
  font-size: 2rem;
  color: #333;
}

.title-area .tagline {
  font-style: italic;
  color: #555;
  margin-top: 0.25rem;
  margin-left: 6ch;
}


body.home {
  background: linear-gradient(135deg, #e0eafc, #cfdef3);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.centered-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body.home h1 {
  font-size: 3rem;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

body.krofly {
  background: linear-gradient(135deg, #e0eafc, #cfdef3);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body.krofly h1 {
  font-size: 3rem;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
body.krofly .tagline {
  font-style:italic;
  color: #555;
  margin-top: -10px;
}
